In [1]:
import pandas as pd

In [2]:
path1 = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 4\project_2\data\raw data\Sup_Data.csv"

df = pd.read_csv(path1)

In [3]:
countries_to_keep = ['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland', 'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel', 'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil', 'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates', 'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama', 'Germany', 'Chile', 'Qatar', 'France', 'Argentina', 'Czech Republic', 'Uruguay', 'Colombia', 'Thailand', 'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy', 'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia', 'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Croatia', 'Libya', 'Russia', 'Jamaica', 'Cyprus', 'Kosovo', 'Mauritius', 'Hong Kong', 'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan', 'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan', 'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal', 'Latvia', 'Philippines', 'Morocco', 'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina', 'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan', 'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran', 'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia', 'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia', 'Sierra Leone', 'Mauritania', 'Kenya', 'Armenia', 'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka', 'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali', 'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon', 'Niger', 'Cambodia', 'Tanzania', 'Madagascar', 'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast', 'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria', 'Burundi', 'Togo']

In [4]:
df.head()

,Country Name,Country Code,Series Name,Series Code,2015 [YR2015],2019 [YR2019]
0,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,99.6890335083008,100
1,Argentina,ARG,Consumer price index (2010 = 100),FP.CPI.TOTL,..,..
2,Argentina,ARG,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,99.83682,..
3,Argentina,ARG,Antiretroviral therapy coverage (% of people l...,SH.HIV.ARTC.ZS,59,67
4,Argentina,ARG,Battle-related deaths (number of people),VC.BTL.DETH,..,..

In [5]:
#pivot_data = data.pivot(index="Country Name",columns="Series Name",values="2015 [YR2015]" )

# Pivot the data for 2015
pivot_2015 = pd.pivot_table(df[df['2015 [YR2015]'] != '..'], 
                             index=['Country Name'], 
                             columns='Series Name', 
                             values='2015 [YR2015]')

pivot_2015_reset = pivot_2015.reset_index(level='Country Name')

# Pivot the data for 2019
pivot_2019 = pd.pivot_table(df[df['2019 [YR2019]'] != '..'], 
                             index=['Country Name'], 
                             columns='Series Name', 
                             values='2019 [YR2019]')

pivot_2019_reset = pivot_2015.reset_index(level='Country Name')

In [6]:
pivot_2015_reset.head()

Series Name,Country Name,Access to electricity (% of population),"Adjusted net enrollment rate, primary (% of primary school age children)",Antiretroviral therapy coverage (% of people living with HIV),Battle-related deaths (number of people),"Birth rate, crude (per 1,000 people)","Children in employment, total (% of children ages 7-14)",Children out of school (% of primary school age),Consumer price index (2010 = 100),GDP growth (annual %),...,Ratio of female to male labor force participation rate (%) (national estimate),Real effective exchange rate index (2010 = 100),Renewable electricity output (% of total electricity output),Rural population (% of total population),"Share of youth not in education, employment or training, total (% of youth population)","Suicide mortality rate (per 100,000 population)",Time required to start a business (days),"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Women who were first married by age 15 (% of women ages 20-24)
0,Afghanistan,71.5,NaN,5.0,17278.0,38.803,NaN,NaN,132.883209,1.451315,...,NaN,NaN,86.050111,75.197,NaN,4.0,8.5,0.00874,9.002,8.8
1,Africa Eastern and Southern,33.903515,NaN,55.980265,NaN,35.613314,NaN,NaN,NaN,2.965062,...,NaN,NaN,25.675879,65.574416,NaN,8.489758,32.038462,4.759798,6.983064,NaN
2,Africa Western and Central,46.758948,NaN,37.774449,NaN,38.85921,NaN,NaN,NaN,2.813543,...,NaN,NaN,31.233531,55.194137,NaN,5.774544,25.172727,4.437426,4.197576,NaN
3,Albania,99.98,97.79873,39.0,NaN,11.718,NaN,NaN,111.397164,2.218726,...,73.325331,NaN,100.0,42.566,29.816,4.8,5.0,5.03752,17.19,NaN
4,Algeria,99.356194,NaN,68.0,110.0,25.405,NaN,0.34951,126.736646,3.7,...,24.389514,96.573727,0.322684,29.152,21.2,2.7,18.0,0.5844,11.21,NaN

In [7]:
# Check if the 'Country Name' is in the list of countries to keep
mask1 = pivot_2015_reset['Country Name'].isin(countries_to_keep)
mask2 = pivot_2019_reset['Country Name'].isin(countries_to_keep)

# Filter the DataFrame to keep only the rows where the 'Country Name' is in the list of countries to keep
pivot_2015_filtered = pivot_2015_reset[mask1]
pivot_2019_filtered = pivot_2019_reset[mask1]

In [8]:
pivot_2015_filtered.isnull().sum()

Series Name
Country Name                                                                                              0
Access to electricity (% of population)                                                                   1
Adjusted net enrollment rate, primary (% of primary school age children)                                 44
Antiretroviral therapy coverage (% of people living with HIV)                                            25
Battle-related deaths (number of people)                                                                 98
Birth rate, crude (per 1,000 people)                                                                      0
Children in employment, total (% of children ages 7-14)                                                 118
Children out of school (% of primary school age)                                                         39
Consumer price index (2010 = 100)                                                                         3
GDP growth (annual %)                                                                                     0
Gini index                                                                                               56
Income share held by highest 10%                                                                         56
Income share held by lowest 10%                                                                          56
Individuals using the Internet (% of population)                                                          3
Mortality rate, under-5 (per 1,000 live births)                                                           0
Prevalence of current tobacco use (% of adults)                                                          12
Ratio of female to male labor force participation rate (%) (national estimate)                           41
Real effective exchange rate index (2010 = 100)                                                          59
Renewable electricity output (% of total electricity output)                                              0
Rural population (% of total population)                                                                  1
Share of youth not in education, employment or training, total (% of youth population)                   53
Suicide mortality rate (per 100,000 population)                                                           1
Time required to start a business (days)                                                                  0
Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)      1
Unemployment, total (% of total labor force) (modeled ILO estimate)                                       1
Women who were first married by age 15 (% of women ages 20-24)                                          116
dtype: int64

In [9]:
pivot_2015_filtered.shape

(126, 26)

In [10]:
pivot_2019_filtered.isnull().sum()

Series Name
Country Name                                                                                              0
Access to electricity (% of population)                                                                   1
Adjusted net enrollment rate, primary (% of primary school age children)                                 44
Antiretroviral therapy coverage (% of people living with HIV)                                            25
Battle-related deaths (number of people)                                                                 98
Birth rate, crude (per 1,000 people)                                                                      0
Children in employment, total (% of children ages 7-14)                                                 118
Children out of school (% of primary school age)                                                         39
Consumer price index (2010 = 100)                                                                         3
GDP growth (annual %)                                                                                     0
Gini index                                                                                               56
Income share held by highest 10%                                                                         56
Income share held by lowest 10%                                                                          56
Individuals using the Internet (% of population)                                                          3
Mortality rate, under-5 (per 1,000 live births)                                                           0
Prevalence of current tobacco use (% of adults)                                                          12
Ratio of female to male labor force participation rate (%) (national estimate)                           41
Real effective exchange rate index (2010 = 100)                                                          59
Renewable electricity output (% of total electricity output)                                              0
Rural population (% of total population)                                                                  1
Share of youth not in education, employment or training, total (% of youth population)                   53
Suicide mortality rate (per 100,000 population)                                                           1
Time required to start a business (days)                                                                  0
Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)      1
Unemployment, total (% of total labor force) (modeled ILO estimate)                                       1
Women who were first married by age 15 (% of women ages 20-24)                                          116
dtype: int64

In [11]:
pivot_2019_filtered.shape

(126, 26)

In [12]:
pivot_2015.columns

Index(['Access to electricity (% of population)',
       'Adjusted net enrollment rate, primary (% of primary school age children)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Battle-related deaths (number of people)',
       'Birth rate, crude (per 1,000 people)',
       'Children in employment, total (% of children ages 7-14)',
       'Children out of school (% of primary school age)',
       'Consumer price index (2010 = 100)', 'GDP growth (annual %)',
       'Gini index', 'Income share held by highest 10%',
       'Income share held by lowest 10%',
       'Individuals using the Internet (% of population)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Prevalence of current tobacco use (% of adults)',
       'Ratio of female to male labor force participation rate (%) (national estimate)',
       'Real effective exchange rate index (2010 = 100)',
       'Renewable electricity output (% of total electricity output)',
       'Rural population (% of total population)',
       'Share of youth not in education, employment or training, total (% of youth population)',
       'Suicide mortality rate (per 100,000 population)',
       'Time required to start a business (days)',
       'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Women who were first married by age 15 (% of women ages 20-24)'],
      dtype='object', name='Series Name')

In [13]:
pivot_2015_filtered.rename(columns={
       'Country Name': 'country_name',
       'Access to electricity (% of population)': 'electricity_access_pc',
       'Adjusted net enrollment rate, primary (% of primary school age children)': 'prim_school_enrol_rate',
       'Antiretroviral therapy coverage (% of people living with HIV)': 'ARV_coverage',
       'Battle-related deaths (number of people)': 'battle_deaths',
       'Birth rate, crude (per 1,000 people)': 'birth_rate',
       'Children in employment, total (% of children ages 7-14)': 'child_labour_pc',
       'Children out of school (% of primary school age)': 'children_not_in_school_pc',
       'Consumer price index (2010 = 100)': 'CPI',
       'GDP growth (annual %)': 'GDP_growth',
       'Gini index': 'gini_index', 
       'Income share held by highest 10%': 'income_top_10pc',
       'Income share held by lowest 10%': 'income_bottom_10pc',
       'Individuals using the Internet (% of population)': 'internet_coverage',
       'Mortality rate, under-5 (per 1,000 live births)': 'under5_mortality',
       'Prevalence of current tobacco use (% of adults)': 'smokers_pc',
       'Ratio of female to male labor force participation rate (%) (national estimate)': 'male_femaLe_labour_force_part',
       'Real effective exchange rate index (2010 = 100)': 'real_eff_xr',
       'Renewable electricity output (% of total electricity output)': 'renew_elect_output',
       'Rural population (% of total population)': 'rural_pop_pc',
       'Share of youth not in education, employment or training, total (% of youth population)': 'youth_not_in_ed_emply',
       'Suicide mortality rate (per 100,000 population)': 'suicide_mortality',
       'Time required to start a business (days)': 'time_to_start_bus',
       'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)': 'alcohol_cons_percap',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)': 'unemployment_pc',
       'Women who were first married by age 15 (% of women ages 20-24)': 'women_married_by_15'
        },inplace=True)

C:\Users\ShannonKnight\AppData\Local\Temp\ipykernel_11876\552640138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_2015_filtered.rename(columns={

In [14]:
pivot_2015_filtered.columns

Index(['country_name', 'electricity_access_pc', 'prim_school_enrol_rate',
       'ARV_coverage', 'battle_deaths', 'birth_rate', 'child_labour_pc',
       'children_not_in_school_pc', 'CPI', 'GDP_growth', 'gini_index',
       'income_top_10pc', 'income_bottom_10pc', 'internet_coverage',
       'under5_mortality', 'smokers_pc', 'male_femaLe_labour_force_part',
       'real_eff_xr', 'renew_elect_output', 'rural_pop_pc',
       'youth_not_in_ed_emply', 'suicide_mortality', 'time_to_start_bus',
       'alcohol_cons_percap', 'unemployment_pc', 'women_married_by_15'],
      dtype='object', name='Series Name')

In [15]:
pivot_2019_filtered.rename(columns={
        'Country Name': 'country_name',
       'Access to electricity (% of population)': 'electricity_access_pc',
       'Adjusted net enrollment rate, primary (% of primary school age children)': 'prim_school_enrol_rate',
       'Antiretroviral therapy coverage (% of people living with HIV)': 'ARV_coverage',
       'Battle-related deaths (number of people)': 'battle_deaths',
       'Birth rate, crude (per 1,000 people)': 'birth_rate',
       'Children in employment, total (% of children ages 7-14)': 'child_labour_pc',
       'Children out of school (% of primary school age)': 'children_not_in_school_pc',
       'Consumer price index (2010 = 100)': 'CPI',
       'GDP growth (annual %)': 'GDP_growth',
       'Gini index': 'gini_index', 
       'Income share held by highest 10%': 'income_top_10pc',
       'Income share held by lowest 10%': 'income_bottom_10pc',
       'Individuals using the Internet (% of population)': 'internet_coverage',
       'Mortality rate, under-5 (per 1,000 live births)': 'under5_mortality',
       'Prevalence of current tobacco use (% of adults)': 'smokers_pc',
       'Ratio of female to male labor force participation rate (%) (national estimate)': 'male_femaLe_labour_force_part',
       'Real effective exchange rate index (2010 = 100)': 'real_eff_xr',
       'Renewable electricity output (% of total electricity output)': 'renew_elect_output',
       'Rural population (% of total population)': 'rural_pop_pc',
       'Share of youth not in education, employment or training, total (% of youth population)': 'youth_not_in_ed_emply',
       'Suicide mortality rate (per 100,000 population)': 'suicide_mortality',
       'Time required to start a business (days)': 'time_to_start_bus',
       'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)': 'alcohol_cons_percap',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)': 'unemployment_pc',
       'Women who were first married by age 15 (% of women ages 20-24)': 'women_married_by_15'
        },inplace=True)

C:\Users\ShannonKnight\AppData\Local\Temp\ipykernel_11876\108571442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_2019_filtered.rename(columns={

In [16]:
pivot_2015_filtered.dtypes

Series Name
country_name                     object
electricity_access_pc            object
prim_school_enrol_rate           object
ARV_coverage                     object
battle_deaths                    object
birth_rate                       object
child_labour_pc                  object
children_not_in_school_pc        object
CPI                              object
GDP_growth                       object
gini_index                       object
income_top_10pc                  object
income_bottom_10pc               object
internet_coverage                object
under5_mortality                 object
smokers_pc                       object
male_femaLe_labour_force_part    object
real_eff_xr                      object
renew_elect_output               object
rural_pop_pc                     object
youth_not_in_ed_emply            object
suicide_mortality                object
time_to_start_bus                object
alcohol_cons_percap              object
unemployment_pc                  object
women_married_by_15              object
dtype: object

In [18]:
# data cleaning

pivot_2015_filtered['electricity_access_pc'].fillna(0, inplace = True)

C:\Users\ShannonKnight\AppData\Local\Temp\ipykernel_11876\893274526.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_2015_filtered['electricity_access_pc'].fillna(0, inplace = True)

In [20]:
# List of columns to convert to float
columns_to_convert = ['electricity_access_pc', 'prim_school_enrol_rate',
       'ARV_coverage', 'battle_deaths', 'birth_rate', 'child_labour_pc',
       'children_not_in_school_pc', 'CPI', 'GDP_growth', 'gini_index',
       'income_top_10pc', 'income_bottom_10pc', 'internet_coverage',
       'under5_mortality', 'smokers_pc', 'male_femaLe_labour_force_part',
       'real_eff_xr', 'renew_elect_output', 'rural_pop_pc',
       'youth_not_in_ed_emply', 'suicide_mortality', 'time_to_start_bus',
       'alcohol_cons_percap', 'unemployment_pc', 'women_married_by_15']
# Convert columns to float with two decimal places
pivot_2015_filtered[columns_to_convert] = pivot_2015_filtered[columns_to_convert].astype(float).round(2)
pivot_2019_filtered[columns_to_convert] = pivot_2019_filtered[columns_to_convert].astype(float).round(2)

C:\Users\ShannonKnight\AppData\Local\Temp\ipykernel_11876\4128785632.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_2015_filtered[columns_to_convert] = pivot_2015_filtered[columns_to_convert].astype(float).round(2)
C:\Users\ShannonKnight\AppData\Local\Temp\ipykernel_11876\4128785632.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_2019_filtered[columns_to_convert] = pivot_2019_filtered[columns_to_convert].astype(float).round(2)

In [21]:
folder_path = r"C:\Users\ShannonKnight\OneDrive - PPO Serve\Documents\ironhack\Week 4\project_2\data\raw data"

# Save the pivoted data to separate files in the specified folder
pivot_2015_filtered.to_csv(folder_path + '\\pivoted_data_2015.csv')
pivot_2019_filtered.to_csv(folder_path + '\\pivoted_data_2019.csv')